.header-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/Images/navigation bar.png') !important;
  min-height: 100px;
  /* Set a minimum height */
}

@media (max-width: 768px) {
  .header-background {
  
  }
}