.header-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/Images/navigation bar.png') !important;
  min-height: 100px;
  /* Set a minimum height */
}

@media (max-width: 768px) {
  .header-background {
    width: 100%;
    background: linear-gradient(to right,
        rgba(255, 255, 255, 1) 10%,
        rgba(80, 80, 80, 1) 90%);

  }
}